html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100% - 32px);
	gap: 8px;
	background-color: #1e1e24;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.chart-container {
	width: var(--chartContainerWidth);
	position: relative;
	overflow: hidden;
	padding-right: 40px;
}

.progress-bar-container {
	width: var(--chartContainerWidth);
	position: relative;
}

.overlay-element {
	position: absolute;
	width: 100%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font: 'Roboto', sans-serif;
	pointer-events: none;
	overflow: hidden;
}

.overlay-element .inner-content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	position: relative;
	background: rgba(255, 255, 255, 0.1);
	text-align: right;
}

.overlay-element .inner-content .name {
	color: white;
	font-weight: 600;
	font-size: 80%;
	font-style: italic;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overlay-element .inner-content img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: black;
}

.overlay-element .inner-content .value {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(calc(100% + 4px), -50%);
	font-weight: 300;
	font-style: italic;
}

.no-transitions {
	transition: none !important;
}


.progress-bar {
	background-color: #444251;
	border: 0;
	height: var(--progressHeight);
	border-radius: 9px;
	display: block;
	margin-bottom: 0.25em;
	margin-top: 0.5em;
	position: relative;
	width: 100%;
	position: relative;
	margin-bottom: 32px;
}

.progress-bar__filled-part {
	background-color: #54b94885;
	border: 1px solid #54b948;
	height: var(--progressHeight);
	border-radius: 9px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 0%;
}

:root {
	--progressHeight: 6px;
	--chartContainerWidth: 90%;
}